body {
    background-color: #141414;
    color: white;
}

.navbar a{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;
}

.nav-link{
    font-size: 20px;
}

.fa-arrow-circle-right{
    transition: all 1s 0.2s;
}

.toggle-right {
    transform: rotate(0deg);
}

.toggle-left {
    transform: rotate(-180deg);
}