body {
    background-color: #141414;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 18px;
}

.form-title {
    text-align: center;
    margin-top: 2%;
    color : white;
    font-weight: bold;
}

.error-text {
    color: red;
    font-size: 20px;
}

.navbar a{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;
}

.nav-link{
    font-size: 20px;
}

.form-group {
    margin-top: 3%;
}

.form-control:focus {
    background: lightblue;
    border: #0213aa solid 5px;
    border-radius: 25px;
    color: #0213aa;
    text-align: left;
}

.form-control {
    background: none;
    border: #0394f4 solid 3px;
    border-radius: 15px;
    color: #0394f4;
    text-align: center;
}

.form-control::placeholder {
    color: #0394f4;
}

.form-control:focus::placeholder {
    color: #0213aa;
}

.fa-arrow-circle-right{
    transition: all 1s 0.2s;
}

.toggle-right {
    transform: rotate(0deg);
}

.toggle-left {
    transform: rotate(-180deg);
}