{% extends 'base.html' %}
{% load static %}
{% load nbsp %}

{% block title %} Vigenere Cipher {% endblock title %}

{% block content %}
	<script>
		window.addEventListener("load", () => {
			const tester = document.querySelector(".post-tester").getAttribute("value")
			if(tester){
				document.querySelector("#form-section").scrollIntoView({behavior:"smooth"})
				// document.querySelector(".explanation-section").setAttribute('style',"display: block;")
				if(document.querySelector("#enc-result").getElementsByTagName("br").length!==0){
					document.querySelector("#encpy").setAttribute('style',"display: block;")
				}
				if(document.querySelector("#dec-result").getElementsByTagName("br").length!==0){
					document.querySelector("#decpy").setAttribute('style',"display: block;")
				}
			}
			else {
				document.querySelector(".explanation-section").setAttribute('style',"display: none;")
				document.querySelector("#encpy").setAttribute('style',"display: none;")
				document.querySelector("#decpy").setAttribute('style',"display: none;")
			}
		})

		function copyEncOutput() {
			var range = document.createRange();
			range.selectNode(document.getElementById("enc-result"));
			window.getSelection().removeAllRanges(); // clear current selection
			window.getSelection().addRange(range); // to select text
			document.execCommand("copy");
			window.getSelection().removeAllRanges();// to deselect
			document.querySelector('#encpy').setAttribute("style","color: magenta; display: block;")
			document.getElementById('enc-input').value = ''
		}

		function copyDecOutput() {
			var range = document.createRange();
			range.selectNode(document.getElementById("dec-result"));
			window.getSelection().removeAllRanges(); // clear current selection
			window.getSelection().addRange(range); // to select text
			document.execCommand("copy");
			window.getSelection().removeAllRanges();// to deselect
			document.querySelector('#decpy').setAttribute("style","color: magenta; display: block;")
			document.getElementById('dec-input').value = ""
		}
	</script>
	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/4.jpg' %}">
		<div class="page-info text-center">
			<h2>Vigenere Cipher</h2>
			<div class="site-breadcrumb">
				<a href=""><span>Private Key Cryptography</span></a>  /
				<a href=""><span>Classical Ciphers</span></a> /
				<a href=""><span>Substitution Ciphers</span></a>
			</div>
		</div>
	</section>
	<!-- Page top end-->

	<!-- Contact page -->
	<section class="intro-section" style="height: 330px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 order-2 order-lg-1">
					<p style="color: white;">
						The Vigenere Cipher is a polyalphabetic substitution cipher that uses a keyword to encrypt a message. The keyword is repeated until it is the same length as the message, and each letter of the message is shifted by a different amount, depending on the corresponding letter in the keyword. It was invented by Blaise de Vigenere in the 16th century and was considered unbreakable until the 19th century.
					</p>
				</div>
			</div>
		</div>
	</section>


	<!-- Contact page -->
	<section class="contact-page" id="form-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mb-5">
					<h1 class="text-white text-center">Try It!</h1>
				</div>
				<div class="col-lg-12 order-2 order-lg-1">
					<form class="contact-form" action="/vigenere" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-lg-4"></div>
							{{ form.key }}
							<div class="col-lg-4"></div>
							{{ form.pt }}
							<div class="col-lg-6" style="margin-top: -2%;">
								<div class="text-white text-center"><b>Encrypted Text</b><i class="fa fa-copy copy-icon" title="Copy to Clipboard" id="encpy" onclick="copyEncOutput()"></i></div>
								<div class="display-result" id="enc-result">
									{% for i in enc %}
										{{ i|nbsp }}<br>
									{% endfor %}
								</div>
							</div>
							{{ form.ct }}
							<div class="col-lg-6" style="margin-top: -2%;">
								<div class="text-white text-center"><b>Decrypted Text</b><i class="fa fa-copy copy-icon" title="Copy to Clipboard" id="decpy" onclick="copyDecOutput()"></i></div>
								<div class="display-result" id="dec-result">
									{% for i in dec %}
										{{ i|nbsp }}<br>
									{% endfor %}
								</div>
							</div>
							<p class="error-text">{{ error }}</p>
							<!-- <div class="col-lg-9 text-center scroll-text">
								<p>Scroll to understand output</p>
							</div>	 -->
						</div>
						<div class="col-lg-3 text-center">
							<button class="site-btn" id="submit-btn" type="submit">Encrypt / Decrypt<img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact page end-->

	<!-- Contact page -->
	<section class="intro-section explanation-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="text-center text-white">{{ extra }}</h1>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact page end-->

{% endblock content %}